/*media-queries*/
@media (max-width: 991px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navbar-toggler {
        order: 1;
        margin-right: 15px;
        margin-left: auto;
    }

    .offcanvas {
        width: 100%;
    }

    .d-lg-none {
        width: 100%;
        justify-content: center;
    }
}


/*querie navbar*/
@media (max-width: 1200px) {
    .navbar-brand img {
        height: 50px;
    }

    .offcanvas a.nav-link {
        font-size: 15px;
    }
}

@media (max-width: 470px) {
    .navbar-brand img {
        height: 40px;
    }
}


/*querie servicios*/
@media (max-width: 1730px) {
    .cards-servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1200px) {
    .cards-servicios {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 580px) {
    .card-servicio {
        height: 280px;
        width: 300px;
    }

    .service {
        p {
            font-size: 12px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 22px;
        }

        h1 {
            font-size: 30px;
            margin-bottom: 30px;
        }
    }
}

/*querie sobre nosotros*/
@media (max-width: 1200px) {
    .cards-nosotros {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 580px) {
    .card-nosotros {
        height: 280px;
        width: 300px;
    }

    .nosotros {
        p {
            font-size: 12px;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 20px;
        }

        h2 {
            font-size: 22px;
        }

        h1 {
            font-size: 30px;
            margin-bottom: 30px;
        }

        i {
            font-size: 30px;
        }
    }
}

/*querie store*/
@media (max-width: 1200px) {
    .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}