//sobre nosotros

.container-nosotros {
    min-height: 100vh;
    width: 100%;

    &::after {
        content: "";
        background: url(https://guide-images.cdn.ifixit.com/igi/VFjyXrBQyAAwAcoe.huge);
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        object-fit: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        flex: 1;
    }
}

.nosotros-wrapper {
    padding: 5% 8%;
}

.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-family: $mainFont;
        color: $greenColor;
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 60px;
    }

    h2 {
        font-family: $mainFont;
        color: $greyColor;
        font-size: 30px;
        font-weight: 700;
    }
}

.card-nosotros h3 {
    font-family: "Raleway";
    font-size: 30px;
    text-align: left;
    color: $greenColor;
    font-weight: 700;
    width: 100%;
    margin: 20px;
}

.nosotros p {
    font-family: $secondaryFont;
    font-size: 18px;
    color: $greyColor;
    text-align: center;
    margin-bottom: 60px;
    font-weight: 600;
}

.cards-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.card-nosotros {
    height: 360px;
    width: 630px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0%;

    i {
        color: $greenColor;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 15px;
        font-size: 50px;
    }

    p {
        color: $greyColor;
        text-align: left;
        width: 100%;
        margin: 20px;
    }
}

@media (max-width: 1730px) {
    .cards-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}