/*navbar*/

.navbar {
    background-color: #f6fafd;
    height: 100px;
}

.container {
    background-color: fafafa;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar-brand img {
    height: 70px;
}

.offcanvas {
    width: 100px;
}

.navbar-nav .nav-link {
    font-family: "Maven Pro", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #64b549;
    transition: color 0.3s ease;
    margin-right: 20px;
}

.offcanvas-title {
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    color: black;
}

.navbar-nav .nav-link:hover {
    color: rgb(133, 225, 91);
    cursor: pointer;
}

.btn {
    color: #fafafa;
    transition: 5000ms ease;

    &:hover {
        transform: scale(1.05);
    }
}

.btn-outline-success {
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
    background-color: #64b549;
    color: white;
    border: 1px solid;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-custom-color:hover {
    color: #f0f0f0;
    background-color: black;
    transform: scale(1.1);
}